.header {
  width: 100%;
  height: auto;
  padding: 100px 0;
  margin: 0 auto;
}

.header h1 {
  margin: 0 auto;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

#myData {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#myData .item {
  width: 300px;
  height: auto;
  padding: 25px;
  background: #f1f1f1;
  border-radius: 10px;
  margin: 25px;
  text-align: center;
}